<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<title>Login Page</title>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<img src="\assets\admin.png">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<!-- <h4 class="company_title">Your Company Logo</h4> -->
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form #contactForm="ngForm" class="form-group">
							<div class="row">
								<input type="text" [(ngModel)]="username"  name="username" id="username" class="form-control" placeholder="Username">
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Password">
							</div>
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn" (click)="OnLogin(contactForm)" [class.disabled]="!contactForm.valid">

							</div>
						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="container-fluid text-center footer">
        Coded with &hearts; by <a href="https://bit.ly/yinkaenoch">Yinka.</a>
    
	</div>
</body>