<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 tm-site-name-container">
        <a>
          <img src=".\assets\clip.jfif" style=" height:90px; margin-left: -100px;" >
        </a>
      </div>
      <nav class="tm-nav" style="margin-left: -100px;">
        <ul >
          <li class="nav-item active">
            <a class="nav-link" routerLink="" routerLinkActive="" style="color: white;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contact-us" routerLinkActive="" style="color: white;">Contact-us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="feedback-form" routerLinkActive="" style="color:white;">Feedback-Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="search" routerLinkActive="" style="color:white;">search</a>
           
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="create" routerLinkActive="" style="color: white;">create</a>
        </li>
        </ul>
      </nav>

    </div>
  </div>
</div>


<!-- <input type="image" routerLink="home" src="./assets/images.png" name="saveForm" (click)="onClick()" id="saveForm" /> -->


<router-outlet></router-outlet>

